image: $CI_REGISTRY/odin/builders/alpine:latest

stages:
  - test
  - deploy

variables:
  DENO_DIR: .cache/deno

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - ${DENO_DIR}

test:lint:
  stage: test
  script:
    - deno lint --ignore=.cache

test:format:
  stage: test
  script:
    - deno fmt --check --ignore=.cache

test:unittest:
  stage: test
  script:
    - deno task test

publish-jsr:
  stage: deploy
  when: manual
  script:
    - deno publish --token "${JSR_AUTH_TOKEN}"

publish-npm:
  stage: deploy
  when: manual
  script:
    - deno task build-npm
    - cd dist
    - echo '//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}' > .npmrc
    - npm publish
